# SPDX-FileCopyrightText: 2025 Kalle Fagerberg
#
# SPDX-License-Identifier: CC0-1.0

[tools]
uv = "latest"
"pipx:reuse" = "latest"
protoc = "33.4"
protoc-gen-go = "1.36.11"
"aqua:tinygo-org/tinygo" = "0.40.1"

[tools."github:firefly-zero/firefly-cli"]
version = "0.15.7"
rename_exe = "ff"

[tasks."install:tools"]
description = "Install protoc plugins"
run = "go install tool"

[tasks."build:generate"]
# using https://github.com/aperturerobotics/protobuf-go-lite
description = "Generate protobuf files"
run = """
    : "${GOBIN:="$(go env GOBIN)"}"
    : "${GOBIN:="$(go env GOPATH)/bin"}"
    protoc \
        --go-lite_out=proto --plugin protoc-gen-go-lite="${GOBIN}/protoc-gen-go-lite" \
        --go-lite_opt=features=size+marshal+unmarshal \
        proto/game/v1/gamestate.proto
"""
sources = ['proto/game/v1/*.proto']
outputs = ['proto/game/v1/*.go']
depends = ['install:tools']

[tasks.build]
description = "Build the game using firefly CLI"
run = "ff build"
depends = ['build:generate']

[tasks.start]
description = "Run the game using firefly emulator"
run = "firefly-emulator --id applejag.firefly-jam-2026"
depends = ['build']

[tasks.package]
description = "Export the game to a ROM file"
run = "mkdir -p dist && ff export --output dist/applejag.firefly-jam-2026.zip"
depends = ['build']

[tasks.test]
description = "Run tests"
run = "go test ./..."

[settings]
experimental = true
